<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Bibliotecólog@s</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/BiblioInicio.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
</head>
<body>
    {% include 'base/componentes/Navbar.html' %}
    {% if messages %}
        <div id="notificaciones">
            {% for message in messages %}
            <div class="notificacion {{ message.tags }}">
                <span class="cerrar" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="contenido-central">
        <h1>Bienvenid@, Bibliotecólog@</h1>
        <p>Aquí se mostrará contenido específico para bibliotecólog@s.</p>
    </div>
    {% include 'base/componentes/Footer.html' %}
</body>
</html>
