<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Boletines</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/BoletinBiblio.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
</head>
<body>
    {% include 'base/componentes/Navbar.html' %}
    
    <div class="button-container">
        <a href="/SubirBoletin/" class="btn btn-green">Ingresar Boletin</a>
        <a href="/BorrarBoletin/" class="btn btn-red">Borrar Boletin</a>
    </div>
   
    {% include 'base/componentes/Footer.html' %}
    <script src="{% static 'JS/filterSidebar.js' %}"></script>
</body>
</html>
