<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Fuentes</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/BorrarTagFuente.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
</head>
<body>
    {% include 'base/componentes/Navbar.html' %}

    <div class="fuentes-container">
        <ul>
            {% for tag in tags %}
                <li>
                    <h2>{{ tag.nombre }}</h2>
                    <a href="/BorradoTagFuente/{{tag.nombre}}/" class="btn btn-danger">Eliminar tag</a>
                </li>
            {% empty %}
                <p>No hay tags disponibles.</p>
            {% endfor %}
        </ul>
    </div>

    {% include 'base/componentes/Footer.html' %}
    <script src="{% static 'JS/filterSidebar.js' %}"></script>
</body>
</html>
