<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Modificar Fuentes</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/ModificarFuente.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
</head>
<body>
    {% include 'base/componentes/Navbar.html' %}

    <div class="content-wrapper">
        <div class="card">
            <h2>Modificar Fuente</h2>
            <form action="/EditarFuente/{{fuente.id_fuente}}/" method="post"> {% csrf_token %}
                <label for="titulo">Nombre de la Fuente:</label>
                <input type="text" id="titulo" name="titulo" maxlength="100" value="{{fuente.titulo}}">

                <label for="url">URL:</label>
                <input type="text" id="url" name="url" maxlength="100" value="{{fuente.url}}">

                <!--Tags--->

                <label for="estado">Estado:</label>
                <select name="estado" id="estado" maxlength="50" required="">
                    <option value="Activo" {% if fuente.estado == "Activo" %}selected{% endif %}>Activo</option>
                    <option value="Desactivado" {% if fuente.estado == "Desactivado" %}selected{% endif %}>Desactivado</option>
                </select>

                <label for="descripcion">Descripcion:</label>
                <input type="text" id="descripcion" name="descripcion" maxlength="500" value="{{fuente.descripcion}}">
                
                <div class="button-group">
                    <button type="submit" class="btn btn-green">Guardar Cambios</button>
                </div>
            </form>
        </div>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-error{% elif message.tags == 'success' %}alert-success{% endif %}">
            <strong>{{ message }}</strong>
            <button type="button" class="close-btn" onclick="this.parentElement.style.display='none';" aria-label="Close">&times;</button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% include 'base/componentes/Footer.html' %}
    <script src="{% static 'JS/filterSidebar.js' %}"></script>
</body>
</html>
