<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Panel de Control</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/PanelDeControl.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
</head>
<body>
    {% include 'base/componentes/Navbar.html' %}

    <h1>Bienvenido, Equipo U3I</h1>
    <p>Aquí se mostrará contenido específico para el equipo U3I.</p>

    {% include 'base/componentes/Footer.html' %}
</body>
</html>
