<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Tags Fuentes</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/TagsFuentes.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
</head>
<body>
    {% include 'base/componentes/Navbar.html' %}
    <div class="button-container">
        <a href="/IngresarTagFuente/" class="btn btn-green">Ingresar tags</a>
        <a href="/BorrarTagFuente/" class="btn btn-red">Borrar tags</a>
    </div>
    
    {% include 'base/componentes/Footer.html' %}
</body>
</html>
