<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Bibliotecolog@s</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/BiblioInicio.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
</head>
<body>
    {% include 'componentes/Navbar.html' %}
    <h1>Bienvenid@, Bibliotecólog@</h1>
    <p>Aquí se mostrará contenido específico para bibliotecólog@s.</p>
    {% include 'componentes/Footer.html' %}
</body>
</html>
