<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Boletines</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Inicio.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/BoletinB.css' %}">
</head>

<body>
    <nav>
        <img src="{% static 'IMG/Icono.png' %}" alt="IconoVIGIFIATemplate" class="IconoVIGIFIA">
        <span class="nombreVIGIFIA">VIGIFIA</span>
        <ul>
            <li><a href="{% url 'Inicio' %}">Inicio</a></li>
            <li><a href="{% url 'Boletines' %}">Boletínes</a></li>
            <li><a href="{% url 'Sobre_vigifia' %}">Sobre VIGIFIA</a></li>
            <li><a href="{% url 'Contacto' %}">Contacto</a></li>
            <li class="acceso-empleado"><a href="{% url 'Login' %}">Acceso Empleado</a></li>
        </ul>
    </nav>

    <form method="GET" action="">
        {{ form.as_p }}

        <div class="filter-container">
            <label for="filter">Filtrar por Tag:</label>
            <select id="filter" name="filter">
                <option value="">Selecciona un tag</option>
                {% for tag in tags_conteo %}
                    <option value="{{ tag.nombre }}">{{ tag.nombre }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div>
            <h4>Tags disponibles</h4>
            <ul class="tag-list">
            {% for tag in tags_conteo %}
                <li>{{ tag.nombre }} ({{ tag.num_boletines }})</li>
            {% endfor %}
            </ul>
        </div>
    
        <button type="submit">Buscar</button>
    </form>

    <ul>
        {% for boletin in boletines %}
            <li>
                <h2>{{ boletin.nombre_boletin }}</h2>
                <p><strong>Fecha de publicación:</strong> {{ boletin.fecha_boletin }}</p>
                <p><strong>Tags:</strong> 
                    {% for tag in boletin.tags_boletin.all %}
                        {{ tag.nombre }},
                    {% endfor %}
                </p>
                <p><strong>Ver PDF:</strong> 
                    <a href="{{ boletin.url_pdf.url }}" target="_blank">Descargar PDF</a>
                </p>
            </li>
        {% empty %}
            <p>No hay boletines disponibles.</p>
        {% endfor %}
    </ul>

    <footer>
        <div class="footer-content">
            <p>Visita nuestro GitHub: 
                <a href="https://github.com/Neichoo/GRUPO6-2024-PROYINF" target="_blank">
                    <img src="{% static 'IMG/github-mark-white.png' %}" alt="GitHub" style="width: 30px; height: 30px;"> 
                </a>
            </p>
            <p>&copy; 2024 VIGIFIA</p>
        </div>
    </footer>
    
</body>
</html>