<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Boletines</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/BoletinB.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    {% include 'componentes/Navbar.html' %}

    <div class="search-bar-container">
        <form method="GET" action="">
            {{ form.query }}
            <div class="button-group">
                <button type="submit">Buscar</button>
            </div>
        </form>
        <div class="button-group">
            <button type="reset" onclick="window.location.href = window.location.pathname;">Reiniciar filtros</button>
            <button class="filter-toggle" type="button" onclick="toggleFilterSidebar()">Filtrar</button> <!-- Cambié el tipo a "button" -->
        </div>
    </div>

    <div class="filter-sidebar hide" id="filterSidebar">
        <h3>Filtros de Búsqueda</h3>
        <form method="GET" action="{% url 'Boletines' %}">
            <label for="dateFrom">Desde:</label>
            <input type="date" id="dateFrom" name="fecha_desde" value="{{ form.fecha_desde.value }}">
            
            <label for="dateTo">Hasta:</label>
            <input type="date" id="dateTo" name="fecha_hasta" value="{{ form.fecha_hasta.value }}">
            
            <label for="orderBy">Ordenar por fecha:</label>
            <select id="orderBy" name="ordenar_por">
                <option value="asc" {% if form.ordenar_por.value == "asc" %}selected{% endif %}>Fecha Ascendente</option>
                <option value="desc" {% if form.ordenar_por.value == "desc" %}selected{% endif %}>Fecha Descendente</option>
            </select>

            <label for="filter">
                <span>Filtrar por Tags</span>
                <span class="toggle-arrow" onclick="toggleFilterTags()">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </label>
            
            <div id="filter" class="checkbox-group" style="display: none;">
                {% for tag in tags_conteo %}
                    <div class="tag-item">
                        <input 
                            type="checkbox" 
                            id="tag-{{ tag.id }}" 
                            name="filter" 
                            value="{{ tag.nombre }}" 
                            {% if tag.nombre in selected_tags %}checked{% endif %}>
                        <label for="tag-{{ tag.id }}">{{ tag.nombre }}</label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="boton-filtro">Aplicar Filtros</button>
        </form>
    </div>

    <div class="boletines-container">
        <ul>
            {% for boletin in boletines %}
                <li>
                    <h2>{{ boletin.nombre_boletin }}</h2>
                    <p><strong>Fecha de publicación:</strong> {{ boletin.fecha_boletin }}</p>
                    <p><strong>Tags:</strong> 
                        {{ boletin.tags_boletin.all|join:", " }}
                    </p>
                    <p><strong>Ver PDF:</strong> 
                        <a href="{{ boletin.url_pdf.url }}" target="_blank">Descargar PDF</a>
                    </p>
                </li>
            {% empty %}
                <p>No hay boletines disponibles.</p>
            {% endfor %}
        </ul>
    </div>

    {% include 'componentes/Footer.html' %}
    <script src="{% static 'JS/filterSidebar.js' %}"></script>
</body>
</html>