<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Fuentes</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Fuentes.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
</head>
<body>
    <nav>
        <img src="{% static 'IMG/Icono.png' %}" alt="IconoVIGIFIA" class="IconoVIGIFIA">
        <span class="nombreVIGIFIA">VIGIFIA</span>
        <ul>
            <li><a href="{% url 'PanelDeControl' %}">Inicio</a></li>
            <li><a href="{% url 'FuentesU3I' %}">Fuentes</a></li>
            <li><a href="{% url 'Estadisticas' %}">Estadísticas</a></li>
            <li class="acceso-empleado"><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
    </nav>

    

    <footer>
        <div class="footer-content">
            <p>Visita nuestro GitHub: 
                <a href="https://github.com/Neichoo/GRUPO6-2024-PROYINF" target="_blank">
                    <img src="{% static 'IMG/github-mark-white.png' %}" alt="GitHub" style="width: 30px; height: 30px;"> 
                </a>
            </p>
            <p>&copy; 2024 VIGIFIA</p>
        </div>
    </footer>
</body>
</html>
