<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>VIGIFIA: Fuentes</title>
    <link rel="stylesheet" href="{% static 'CSS/Navbar.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/FuentesU3I.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Footer.css' %}">
</head>
<body>
    {% include 'componentes/Navbar.html' %}

    <div class="search-bar-container">
        <form method="GET" action="">
            {{ form.query }}
            <div class="button-group">
                <button type="submit">Buscar</button>
            </div>
        </form>
        <div class="button-group">
            <a href="/IngresarFuente/" class="btn btn-green">Ingresar Fuente</a>
            <button type="reset" onclick="window.location.href = window.location.pathname;">Reiniciar filtros</button>
            <button class="filter-toggle" type="button" onclick="toggleFilterSidebar()">Filtrar</button>
        </div>
    </div>

    <div class="filter-sidebar hide" id="filterSidebar">
        <h3>Filtros de Búsqueda</h3>
        <form method="GET" action="{% url 'FuentesU3I' %}">
            <label for="filter">
                <span>Filtrar por Tags</span>
                <span class="toggle-arrow" onclick="toggleFilterTags()">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </label>
            <div id="filter" class="checkbox-group">
                {% for tag in tags_conteo %}
                    <div class="tag-item">
                        <input 
                            type="checkbox" 
                            id="tag-{{ tag.id }}" 
                            name="filter" 
                            value="{{ tag.nombre }}" 
                            {% if tag.nombre in selected_tags %}checked{% endif %}>
                        <label for="tag-{{ tag.id }}">{{ tag.nombre }}</label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="boton-filtro">Aplicar Filtros</button>
        </form>
    </div>
    

    <div class="fuentes-container">
        <ul>
            {% for fuente in fuentes %}
                <li>
                    <h2>{{ fuente.titulo }}</h2>
                    <p><strong>Tags:</strong> 
                        {% for tag in fuente.tags.all %}
                            {{ tag.nombre }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p><strong>URL:</strong> 
                        <a href="{{ fuente.url }}" target="_blank">{{ fuente.url }}</a>
                    </p>
                    <p><strong>Descripcion: </strong>
                        {{ fuente.descripcion }}
                    </p>
                    <p><strong>Estado: </strong>
                        {{ fuente.estado }}
                    </p>
                    <a href="/ModificarFuente/{{fuente.id_fuente}}/" class="btn">Modificar Fuente</a>
                </li>
            {% empty %}
                <p>No hay fuentes disponibles.</p>
            {% endfor %}
        </ul>
    </div>

    {% include 'componentes/Footer.html' %}
    <script src="{% static 'JS/filterSidebar.js' %}"></script>
</body>
</html>
