html, body {
    height: 100%;
    margin: 0;
}
body {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(135deg, #4c9f70, #5c8f9e) !important;
}

figure.image {
  display: inline-block;
  border: 1px solid gray;
  margin: 0 2px 0 1px;
  background: #f5f2f0;
}

figure.align-left {
  float: left;
}

figure.align-right {
  float: right;
}

figure.image img {
  margin: 8px 8px 0 8px;
}

figure.image figcaption {
  margin: 6px 8px 6px 8px;
  text-align: center;
}

img.align-left {
  float: left;
}

img.align-right {
  float: right;
}


.mce-toc {
  border: 1px solid gray;
}

.mce-toc h2 {
  margin: 4px;
}

.mce-toc li {
  list-style-type: none;
}

.botones {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn-guardar, .btn-pdf {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-guardar {
    background: #216c2c;
    color: white;
}

.btn-pdf {
    background: #2c6cb1;
    color: white;
}

.btn-guardar:hover {
    background: #1a5223;
}

.btn-pdf:hover {
    background: #1a4b7e;
}

.btn-actualizar {
    background: #287b39; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-actualizar:hover {
    background: #1f5c2a;
}

.btn-cancelar {
    background: #b12c2c; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
}

.btn-cancelar:hover {
    background: #7e1a1a;
}

