body {
    background: linear-gradient(135deg, #4c9f70, #5c8f9e) !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.login-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    padding-top: 60px;
}

.Login {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    background-color: white;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Mensajes de error */
.login-messages {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.login-messages li {
    color: red;
    text-align: center;
}