* {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Color de fondo - Espacio interno */
nav {
    background: linear-gradient(90deg, #006633, #004466);
    padding: 45px 0;
}
/* Sacar los puntos de la lista*/
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
nav ul li {
    display: inline;
}
/* Color del texto - Sacar subrayado de los links - Espacio interno */
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 30px 20px;
    font-size: x-large;
}

.acceso-empleado a {
    background-color: #cc5500;
    padding: 10px 15px;
    font-size: small;
    border-radius: 2px;
    color: white;
    position: absolute;
    right: 30px;
    bottom: 30px;
    align-items: center;
  }
.acceso-usuario a {
background-color: #ff9933;
padding: 10px 15px;
border-radius: 5px;
color: white;
position: absolute;
right: 20px;
align-items: center;
}

.IconoVIGIFIA {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 12%;
    align-items: center;
}
.nombreVIGIFIA {
    position: absolute;
    color: #fff;
    font-size: 1.2em;
    margin-left: 13%;
    align-items: center;
}

.botoncin a:hover {
    background-color: #ff9933;
    color: white;
}